.period{
    box-sizing: border-box;

    height: 100%;

padding: 30px 20px 275px 20px; 
width: 100%;
background-color: #ffff;

@media screen and (max-width: 1070px) {
    padding: 30px 20px 50px 20px; 

}
}

.srock{
width: 100%;
@media screen and (max-width: 500px) {
    flex-direction: column !important;

}
}


.button-srock{
    @media screen and (max-width: 500px) {
        margin-bottom: 10px !important;

        
    }
    border-radius: 100px !important;
  
   
}