.period{
    box-sizing: border-box;

padding: 0 20px; 
height: 40vh;
width: 100%;
background-color: #F7F7F7;
}

.srock{
width: 100%;

    
}


.button-srock{
    color: #427198 !important;
    border-radius: 100px !important;
  
   
}