.period {
  box-sizing: border-box;
  background: #f7f7f7;
  flex: 1 1 auto;
  padding: 30px 20px 200px 20px;
  width: 100%;

  &__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #326590;
  }

  @media screen and (max-width: 1070px) {
    padding: 30px 20px 50px 20px;
  }
}

.srock {
 @media screen and (max-width: 520px) {
    flex-direction: column !important;
    width: 100%;
  }
}

.button-srock {
  margin-right: 10px !important;
  font-weight: 300 !important;
  &:last-child {
    margin-right: 0px !important;
  }
  @media screen and (max-width: 520px) {
    margin-bottom: 10px !important;
    margin-right: 0px !important;
  }

  border-radius: 100px !important;
}
