.range {
  box-sizing: border-box;
  padding: 185px 20px 80px 20px;
  background-color: #dae1e7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ADBBC7;

  &__sum {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @media screen and (max-width: 514px) {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 16px;
    color: #326590;

    @media screen and (max-width: 514px) {
      margin-bottom: 10px;
    }
  }



  &__form {
    width: 100%;
    padding: 0 10px;
  }
}

.rc-slider-mark-text {
  width: 60px;
  margin-top: 14px;

}

.input-sum {
  transition: padding 1s ease;
  display: flex;

  &__currency {
    color: #3F6C95;
    max-width: 200px;
    text-align: end;
    display: block;
    font-size: 25px;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 300;
    margin-bottom: 0;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    padding: 8px 1px;
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

  }

  &__icon {
    background: #fff;
    color: #1D4176;
    line-height: 1;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    font-size: 30px;

    font-weight: 300;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 11px 40px 11px 2px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    box-shadow: none;
    min-width: 40px;

  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  cursor: pointer;
}